body {
  margin: 0;
  padding: 0;
  background:#4527a0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
    font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.fullDiv {
  height: 100%;
  width: 100%;
}

.testClass {
  height : 95vh; 
  width : 100%;
}

.loginCard {
  height:300px;
  width:300px;
  padding-top: 15px;
}

.RegisterCard{
  height:500px;
  width:475px;
  padding: 15px;
}

.DashboardCard{
  height: 500px;
  width: 750px;
  background-color : #4527a0;
}

.ElectionRegister{
  height: 450px;
  width: 700px;
  background-color : #fff;
  padding-left: 8px;
  padding-top: 10px;
}

.formButton {
  margin: 10px;
}

.DateNTime{
  width : 150px;
}

.DateNTimeCenter{
  padding-left : 25px;
}

.RequestCard{
  height: 200px;
  width: 165px;
  margin: 5px;
  padding: 2px;
  box-shadow: 0px 0px 15px  rgba(0,0,0,0.5) !important;
}

.RequestCardText2{
  font-size: 0.7em !important;
}

.personIcon{
  font-size: 50px !important;
}

.personIcon2{
  font-size: 60px !important;
}

.ABIcon{
  font-size: 60px !important;
}

.RequestCardText3{
  padding: 0px !important;
  margin: 0px !important;
}

.RequestCardText4{
  font-size: 0.7em !important;
}

.RegisterCard2{
  height:410px;
  width:700px;
  padding: 15px;
}

.ElectionRequestForm{
  height: 450px;
  width: 550px;
  position: absolute; 
  top: 30%;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 

}

.ElectionSection{
 width: 230px;
 height: 280px;
 background: #bdbdbd !important;
 margin-left:16px;
 margin-top: 10px;
 padding: 5px; 
 
}

.CandidateSection{
width: 230px;
height: 280px;
background: #bdbdbd !important;
margin-left: 16px;
margin-top: 10px;
padding: 5px;
}

.ElectionFormHeader{
  font-size: 1.4em !important;
  margin: 3px !important;
}